@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

nav {
  background-image: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  background-size: 400%;
  animation: bg-color 3s infinite alternate;
}

.navbar > a {
  font-size: 2rem;
  animation: fontcolor 3s infinite alternate;
}

.navbar-nav > .nav-item > .nav-link {
  font-size: 1.5rem;
  animation: fontcolor 3s infinite alternate;
}

@keyframes bg-color {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes fontcolor {
  0% {
    color: #fff;
  }
  100% {
    color: #000;
  }
}
